@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --primary-color: #18181B;
    --secondary-color: #2e2e2e;
    --highlight-color: #1d4ed8;
    --text-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

header {
    background-color: #0d0d0f;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav-logo {
    max-width: 60%;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-grow: 2;
    gap: 1rem;
}

.link a {
    position: relative;
    padding-bottom: 0.5rem;
    color: var(--text-color);
    font-size: 0.8rem;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--highlight-color);
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.btn {
    padding: 1.2% 4.3%;
    font-size: 0.8rem;
    color: var(--text-color);
    background-color: #404046;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    top: -0.2rem;
}

.btn:hover {
    background-color: var(--primary-color);
}

.dropdown-menu {
    display: flex;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 10rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 1s ease, max-height 1s ease;
    gap: 1rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
}

.dropdown-menu li {
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
}

.link:hover .dropdown-menu,
.link .dropdown-menu:hover {
    display: flex;
    opacity: 1;
    max-height: 10rem;
}

.link a.active,
.link a.active::after {
    color: var(--highlight-color);
    background-color: var(--highlight-color);
}

#game-container {
    max-width: 50rem;
    margin: 0 auto;
    padding: 5rem;
    background: linear-gradient(0deg,var(--primary-color), var(--secondary-color));
    border-radius: 0.5rem;
    text-align: center;
    transition: background-color 0.5s ease;
}

h1,
#problem,
#lives,
#score,
#feedback {
    color: var(--text-color);
}

h1 {
    text-align: center;
    position: relative;
    bottom: 4rem;
    font-size: 1.5rem;
    padding: 0 0.1rem;
    white-space: nowrap;
}

#problem {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

input[type="number"], button {
    padding: .625rem;
    width: 10rem;
    margin-bottom: 0.625rem;
    position: relative;
    top: 1.5rem;
}

button {
    padding: 0.625rem 1.25rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#feedback,
#lives,
#score {
    font-size: 1rem;
    margin-bottom: 0.625rem;
    position: relative;
    top: 1.5rem;
}

#settings-btn {
    padding-left: 6.75rem;
    background-color: transparent;
    transform: translate(18.8125rem, -26.875rem);
}

#settings-btn .fa-cog {
    transform: scale(2);
}

#settings-menu {
   display: none;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: var(--secondary-color);
   border-radius: 5px;
   padding: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   z-index: 1;
   width: 20%;
   height: 20%;
}

#settings-menu ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

#settings-menu li {
   margin-bottom: 10px;
}

#settings-menu a {
   text-decoration: none;
   color: var(--text-color);
   display: block;
   padding: 5px;
   transition: background-color 0.3s ease;
}

#settings-menu a:hover {
   background-color: #f0f0f0;
}

@media (max-width: 36rem) {
    #settings-btn {
        transform: translate(6.5rem, -22.5rem);
    }
}

@media (min-width: 576px) {
    nav {
        padding: 2rem 1rem;
        gap: 2rem;
    }

    .nav-logo {
        max-width: 10%;
    }

    .nav-links {
        gap: 2rem;
    }

    .link a {
        font-size: 1rem;
    }

    .btn {
        font-size: 1rem;
    }

    #game-container {
        padding: 10rem;
    }

    h1 {
        font-size: 2rem;
        padding: 0;
    }

    #problem {
        font-size: 2rem;
    }

    input[type="number"], button {
        width: 12.5rem;
    }

    #feedback {
        font-size: 1.125rem;
    }

    #settings-btn {
        transform: translate(18rem, -25rem);
    }

    #settings-btn .fa-cog {
        transform: scale(1.5);
    }
}
